
.btn-logout-custom{
    background-color: transparent;
    border:#e60000 solid 2px;
    color:black;
}

.btn-logout-custom:hover{
    border:#990000 solid 2px;
}

.btn-default-custom{
        background-color: white;
        border: solid gray 1px;
    }
    .btn-default-custom:hover{
        background-color: gray;
        color:white;
        border: solid white 1px;
    }
 .btn-success-custom{

    background-color: #009900;
    color:white;

}

.btn-danger-custom{
    background-color: #ff0000;
    color:white;
}

.btn-danger-custom:hover{
    background-color: #cc0000;

}

.footer-custom{

    padding-top: 40px;
    padding-bottom: 40px;
    
}


